<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestatics.css') }}">
</head>
<body>
    <a href="/" class="back-button">Voltar</a>
    <div class="container">
        <div class="box">
            <h2>Bem-vindo ao sistema de cadastro ao banco</h2>
            <p>Faça seu cadastro.</p>
            <form action="/cadastro" method="post">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <select name="tipo_de_conta">
                        <option value="" disabled selected>Tipo de conta</option>
                        <option value="fisica">Física</option>
                        <option value="juridica">Jurídica</option>
                        <option value="conjunta">Conjunta</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
