<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login e Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestatics.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Bem-vindo</h2>
            <p>Escolha uma opção:</p>
            <div class="buttons">
                <a href="login" class="btn">Logar</a>
                <a href="cadastro" class="btn">Fazer Cadastro</a>
            </div>
        </div>
    </div>
</body>
</html>
