<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylestatics.css') }}">
</head>
<body>
    <div class="container">
        <div class="box">
            <h2>Bem-vindo</h2>
            <p>Faça seu login.</p>
            <form action="/logar" method="post">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nome">
                </div>
                <div class="form-group">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="form-group">
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
